__pycache__
.vscode
.cursor
.qoder
*.log
*.idx
*.npy
*.txt
!requirements/**
!docs/*
*.DS_Store
*.out
build
docs/build
dist
logs/*
outputs/*
*.so
.venv
.docs-venv
uv.lock
rlinf/envs/maniskill/assets
PKG-INFO
*.egg-info/
RLinf-Pi05-RoboTwin-PPO-adjust_bottle
RoboTwin
pretrained_models